.listContainer, .dashboardContainer, .players {
  display: flex;
  justify-content: space-between;
}

.leftPanel {
  width: 75%;
  padding: 16px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

.rightPanel {
  width: 25%; 
  height: 100vh; 
}

.players > * {
  width: calc(25% - 16px);
  height: 300px;
  margin: 0 8px;
}

.playerDetail {
  width: calc(100% - 16px);
  margin: 16px 8px 0px 8px;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 270px;
}

@media (min-width : 768px) and (max-width : 1024px) {
  .players {
    flex-wrap: wrap;
  }

  .players > * {
    width: calc(50% - 16px);
    height: 250px;
    margin: 6px;
  }
}

@media (max-width: 767px) {
  .dashboardContainer {
    flex-direction: column;
  }

  .players {
    flex-wrap: wrap;
  }

  .players > * {
    width: calc(50% - 16px);
    height: 250px;
    margin: 6px;
  }

  .leftPanel {
    border-right: none;
    width: 100%;
  }

  .rightPanel {
    width: calc(100% - 48px);
    margin: 0 auto;
    border: 1px solid #ccc;
  }
}