.container {
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
  border-top: 1px solid #ccc;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
}

li:last-child {
  border-bottom: none;
}

.listContainer {
  overflow-y: auto;
  height: calc(100% - 85px);
}

.playerListTitle {
  margin: 0px;
  padding: 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.formField {
  width: calc(100% - 8px);
  padding: 8px;
  margin: 8px 4px;
  box-sizing: border-box;
  border: none;
  outline: none;
}