.infoText {
  color: green;
}

.errorText {
  color: red;
}

.icon {
  margin: 0px 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}